{{ define "main" }}
  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="{{ replace .Title " " "-" }}">
    <div class="my-auto">
      <h3 class="mb-0 text-center">
        <span class="text-primary text-center">
          <ruby>{{ .Param "lastNameJa" }}<rt>{{ .Param "lastNameKana" }}<rt></ruby>
          <ruby>{{ .Param "firstNameJa" }}<rt>{{ .Param "firstNameKana" }}</rt></ruby>
        </span>
      </h3>
      {{ partial "contact-qr" . }}
      {{ partial "contact-form" . }}
      <div class="text-center">
        {{ .Content }}
      </div>
    </div>
  </section>
{{ end }}
