.noto-sans-jp {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Hiragino Sans',
    'Noto Sans CJK JP',
    'Noto Sans JP',
    'Original Yu Gothic',
    'Yu Gothic',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Sans Emoji'
    ;
}

.cover .bg-black-60 {
  background-color: rgba(0, 0, 0, 0.4);
}

.qiita:hover {
  fill: #55c500;
}

.required {
  background: #ff1a00;
}

.optional {
  background: #999999;
}

.required,
.optional {
  color: #ffffff;
  font-size: 12px;
  margin-right: 10px;
  padding: 5px 10px;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .pv6 {
      padding-top: 0;
  }
}
